@page
@model WebApp.Pages.CookieModel
@{
    ViewData["Title"] = "Cookie";

    const string COOKIE_NAME = "LastVisit";
}

<div class="@(Request.Cookies["PinkMode"] == "True" ? "pink-mode" : "")">
  @if (Request.Cookies[COOKIE_NAME] == null)
  {
    var date = DateTime.Now.ToString();
    
    var cookieOptions = new Microsoft.AspNetCore.Http.CookieOptions
    {
      Expires = DateTime.Now.AddSeconds(30)
    };
    Response.Cookies.Append(COOKIE_NAME, date, cookieOptions);

    <h3>Welcome!</h3>
    <h4>Current time: @date</h4>
  }
  else
  {
    <h3>Welcome back!</h3>
    <h4>Your first visit: @Request.Cookies[COOKIE_NAME]</h4>
  }

  <form method="post">
    <label asp-for="@Model.PinkMode"></label>
    <input asp-for="@Model.PinkMode"/>
    <button class="btn btn-light btn-sm" type="submit">Apply</button>
  </form>
</div>