@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Book Store</h1>
</div>

<form method="get">
  <div class="input-group mb-3">
    <input type="search" asp-for="@Model.SearchParam" class="form-control" placeholder="Search">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="submit">
        Search<i class="fas fa-search"></i>
      </button>
    </div>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" asp-for="@Model.OrderByOption"></label>
    </div>
    <select class="custom-select" asp-for="@Model.OrderByOption" asp-items="Html.GetEnumSelectList<BookSort.OrderByOptions>()"></select>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" asp-for="@Model.HasPriceOffer">
    <label class="form-check-label" asp-for="@Model.HasPriceOffer"></label>
  </div>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" asp-for="@Model.PageSize"></label>
    </div>
    <select class="custom-select" asp-for="@Model.PageSize" asp-items="Html.GetEnumSelectList<IndexModel.EPageSize>()"></select>
  </div>

  <div>
    Page
    <input asp-for="@Model.PageNumber" value="@Model.PageNumber" />
  </div>

  @*<button class="btn btn-outline-secondary" type="submit">
    Search<i class="fas fa-search"></i>
  </button>*@
</form>

<hr />

<div>
  @foreach (ListBookDto book in Model.Books)
  {
    <partial name="_ListBookView" model="book"/>
  }
</div>