@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div>
  @foreach (ListBookDto book in Model.Books)
  {
    <div>
      <h2>@book.Title</h2>
      <p>
        by @foreach (string authorName in book.AuthorNames)
        {
          if (book.AuthorNames.Last() == authorName)
          {
            <span>@authorName</span>
          }
          else
          {
            <span>@authorName, </span>
          }
        }
        <br />
        Reviews: @book.NumOfReviews @(book.NumOfReviews > 0 ? "(" + book.AverageRating + ")" : "")<br />

        @if (Model.Books.First() == book)
        {
          book.NewPrice = book.Price - 1;
          book.PromtionalText = "Save $1 if you order 40 years ahead!";
        }

        Price:
        @if (book.NewPrice.HasValue)
        {
          <span style="color:brown">$@book.NewPrice <strike>$@book.Price</strike><i> @book.PromtionalText</i></span>
        }
        else
        {
          <span>$@book.Price</span>
        }
      </p>
    </div>
  }
</div>